#jdebug {
  display: none;
  width: 100%;
  border: 1px dashed red;
  padding: 0px;
  margin: 0px;
}

#menu {
  position: absolute;
  right: 0;
  padding: 0px 10px;
}

#menu ul {
  position: relative;
	margin: 0px;
	padding: 0px;
}

#menu li {
  position: relative;
  float: left;
  list-style: none;
}

#menu li ul {
  position: absolute;
  display: none;
  right: 0;
  bottom: 100%;
/*top:100%;*/
}

#menu li li {
  float: none;
}

#menu li span {
	padding: 4px 12px;
	font-weight: bold;
	color: #000;
	background: #ccc;
	display: block;
	text-decoration: none;
	border: 0px;
  white-space: nowrap;
  border-right: 1px solid #555;
}

#menu li span:hover {
  background-color: #eee8aa;
}

#menu li:last-child span {
  border-right: none;
} /* Doesn't work in IE */

#menu li li span {
	background: #eee;
  border-right: none;
	border-bottom: 1px solid #ccc;
}
